@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    margin: 10px 150px;
    width: 100%;
}

h1 {
    margin-bottom: 35px;
}

h2 {
    font-size: 30px;
    margin-top: 35px;
}

h3 {
    font-size: 20px;
    margin-bottom: 35px;
}

@media  (max-width: 538px) {
    img {
        width: 360px;
    }

    h1 {
        font-size: 28px;
    }
}
